.provider-btn-group {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid $border-color;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.social-provider-btn-image {
  > img {
    width: 16px;
    vertical-align: inherit;
  }
}

.provider-btn-image {
  display: inline-block;
  padding: 5px 10px;
  border-right: 1px solid $border-color;

  > img {
    width: 20px;
  }
}

.provider-btn {
  display: inline-block;
  padding: 5px 10px;
  margin-left: -3px;
  line-height: 22px;
  background-color: $gray-light;
}

.oauth-application-show {
  .scopes-list {
    padding-left: 18px;
  }
}

.user-callout {
  margin: 20px -5px 0;

  .bordered-box {
    padding: 32px;
    border: 1px solid $blue-300;
    border-radius: $border-radius-default;
    background-color: $blue-50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing {
    padding: 32px;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;

    .dismiss-icon {
      float: right;
      cursor: pointer;
      color: $blue-300;
    }

    &:hover {
      background-color: transparent;
      border: 0;

      .dismiss-icon {
        color: $blue-400;
      }
    }
  }

  .svg-container {
    margin-right: 30px;
    display: inline-block;

    svg {
      height: 110px;
      vertical-align: top;
    }

    &.convdev {
      margin: 0 0 0 30px;

      svg {
        height: 127px;
      }
    }
  }

  .user-callout-copy {
    display: inline-block;
    vertical-align: top;
    max-width: 570px;
  }

  @include media-breakpoint-down(xs) {
    text-align: center;

    .bordered-box {
      display: block;
    }

    .svg-container,
    .user-callout-copy {
      margin: 0 auto;
      display: block;

      svg {
        height: 75px;
      }

      &.convdev {
        margin: $gl-padding auto 0;

        svg {
          height: 120px;
        }
      }
    }
  }
}

.help-block {
  color: $gl-text-color-secondary;
}

.gitlab-slack-slack-logo {
  transform: scale(200%); // Slack logo SVG is scaled down 50% and has empty space around it
}
